/**
 * index.css
 *
 *  Algemene opmaak en thema-instellingen voor de app.
 * - Bevat CSS-variabelen voor dark/light mode.
 * - Zorgt voor een responsieve lay-out met flexbox en media queries.
 */


@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --tekst-kleur: #050505;
  --achtergrondkleur: rgba(255, 255, 255, 0.87);
  --achtergrondkleur-hover: #ffffff;
  /*--achtergrondkleur-hover: #9bffa8;*/
  --contrast-tekst-hover: #050505;
  --box-shadow-nav: none;
  --box-shadow-navlink: #fff6c2;
  --box-shadow-section: none;
  --kleur-arrow-summary: aquamarine;
  --box-shadow-summary:rgba(50, 41, 136, 0.2);
  --achtergrond-summary-after:#9bffa8;
  --kleur-arrow-summary-after: #050505;
  --achtergrond-nav: repeating-linear-gradient(90deg,#fff6c2,#fceb8a,#ffe96a ,#ffe551);
  --hamburger-menu: #280096;
  --download-border: aquamarine;
  --download-achtergrond: #fff6c2;
  --kleur-download: #280096;
}

[data-theme="dark"] {
  --tekst-kleur: rgba(255, 255, 255, 0.87);
  --achtergrondkleur: radial-gradient(circle at top left, #90e1efe5, #051b72, #03124e, #01061d, #01030f);
  --achtergrondkleur-hover: #ffffff;
  --contrast-tekst-hover: #3f5efb;
  --box-shadow-nav: #000000;
  --box-shadow-navlink: #3f5efb;
  --box-shadow-section: #2b49df94;
  --kleur-arrow-summary: #050505;
  --box-shadow-summary: rgba(255, 253, 253, 0.2);
  --achtergrond-summary-after:#46f7a4;
  --kleur-arrow-summary-after: #050505;
  --achtergrond-nav: linear-gradient(30deg, #0048bd, #011c33);
  --hamburger-menu: rgba(255, 255, 255, 0.87);
  --download-border: #041c91;
  --download-achtergrond:#ffffff;
}

body {
  background: var(--achtergrondkleur);
  color: var(--tekst-kleur);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 2;
  margin-top: -4.5rem;
}


@media (min-width: 700px) {
  #root {
    width: 90%;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    transition: width 1s ease-in-out, gap 1s ease-in-out;
  }

  .content-wrapper {
    margin-top: 0;
    align-items: center;
    flex-grow: 2;
    flex-shrink: 2;
  }

  .buttons {
    flex-direction: row-reverse;
    align-self: flex-end;
    align-items: flex-end;
    width: 50%;
  }
}

@media (min-width: 1100px) {
  #root {
    width: 60%;
    gap: 4rem;
    transition: width 1s ease-in-out, gap 1s ease-in-out;
    min-width: 800px;
  }
}

@media (min-width: 1750px) {
  #root {
    width: 55%;
    gap: 5rem;

  }
}