/*sections.css*/

section {
  width: 90%;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow:
    15px 10px 15px 5px var(--box-shadow-section),
    -8px -5px 15px 5px var(--box-shadow-section);
  text-align: left;
}

section h2 {
  text-align: center;
}

section h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

section p {
  margin: 0.3rem auto;
}

section ul {
  padding: 0;
}

section li {
  list-style: none;
}

@media (min-width: 700px) {

  section {
    display: flex;
    align-self: stretch;
    margin: 1rem ;
    flex-direction: column;
    max-width: 700px;
    box-shadow:
      15px 10px 15px 5px var(--box-shadow-section);

  }

  section p,
  section h3,
  section li {
    padding-left: 1rem;
  }
}