/**
 * sections.css
 *
 * Opmaak voor de verschillende secties; AlgemeneGegevens.jsx, Carriere.jsx, Opleiding.jsx, Vaardigheden.jsx, Referentie.jsx.
 * Vaardigheden.jsx heeft een extra css bestand, vaardigheden.css voor opmaak van elementen eigen enkel aan deze sectie.
 */

section {
  width: 90%;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow:
    15px 10px 15px 5px var(--box-shadow-section),
    -8px -5px 15px 5px var(--box-shadow-section);
  text-align: left;
}

section h2 {
  text-align: center;
}

section h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

section p {
  margin: 0.3rem auto;
}

section ul {
  padding: 0;
}

section li {
  list-style: none;
}

/* Opmaak voor de download knoppen op algemene gegevens en referentie */
.download {
  text-decoration: none;
}

.download button {
  display: flex;
  justify-self: center;
  font-weight: bold;
  background-color: var(--achtergrondkleur-hover);
  color: var(--contrast-tekst-hover);
  box-shadow: 1px 1px 4px 2px var(--box-shadow-navlink);
  padding: 0.6rem;
  border-radius: 0.7rem;
  margin: 1rem;
  cursor: pointer;
}

@media (min-width: 700px) {

  section {
    display: flex;
    align-self: stretch;
    margin: 1rem ;
    flex-direction: column;
    max-width: 700px;
    box-shadow:
      15px 10px 15px 5px var(--box-shadow-section);

  }

  section p,
  section h3,
  section li {
    padding-left: 1rem;
  }
}