/**
 * social.css
 *
 * Opmaak voor Social.jsx ingevoegd in App.jsx.
 */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 22px;
  color: #fff;
  background: #0077B5;
  padding: 15px;
  border-radius: 50%;
}

.social:hover {
  color: #0077B5;
  background: #ffffff;
}

@media (min-width: 700px) {

  .social {
    margin: 1rem;
  }
}