/**
 * vaardigheden.css
 *
 * Aanvulling op sections.css voor opmaak van elementen die enkel op Vaardigheden.jsx voorkomen.
 */

.vaardigheden-lijst {
    margin-top: 0.7rem;
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px var(--box-shadow-summary);
    position: relative;
}

summary::before {
    content: "▶";
    color: var(--kleur-arrow-summary);
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    background: var(--tekst-kleur);
    border-radius: 0.3rem;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
    color: var(--kleur-arrow-summary-after);
    background: var(--achtergrond-summary-after);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.vaardigheden li {
    list-style: circle;
    margin-left: 2.5rem;
    padding-left: 0.2rem;
    cursor: default;
}

details {
    margin-left: 2.5rem;
}


@media (min-width: 700px) {
    summary {
        box-shadow: none;
    }

}